{% extends "layout.html" %}
{% from "macro/form.html" import field_errors, horizontal_field %}

{% block page_title %}编辑作品{% endblock %}
{% block page_id %}page-add-work{% endblock %}

{% block body %}

   <form id="form-add-work" class="form-horizontal" method="post"
         action="{{ url_for('admin.edit_work', work_id=work.id) }}" enctype="multipart/form-data">
      <fieldset>
         <legend>编辑作品</legend>

         {{ form.csrf_token }}

         {{ horizontal_field(form.type_id, length=3) }}

         <div class="form-group">
            <label class="col-md-2 control-label">原图</label>


            <div class="col-md-6">
               <img src="{{ work.url }}" alt="" class="img-responsive"/>
            </div>
         </div>

         {{ horizontal_field(form.image, length=3) }}

         {{ horizontal_field(form.title, length=3) }}

         {{ horizontal_field(form.desc, rows=5) }}

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}