{% extends "layout.html" %}
{% from "macro/form.html" import field_errors, horizontal_field %}

{% block page_title %}添加作品{% endblock %}
{% block page_id %}page-add-work{% endblock %}

{% block body %}

   <form id="form-add-work" class="form-horizontal" method="post"
         action="{{ url_for('admin.signin') }}">
      <fieldset>
         <legend>登陆管理后台</legend>

         {{ form.csrf_token }}

         {{ horizontal_field(form.username) }}

         {{ horizontal_field(form.password) }}

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}