{% extends "layout.html" %}

{% block page_title %}关于李胜春{% endblock %}
{% block page_id %}page-about{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h3 class="margin-lg">李胜春简介</h3>
         
         <p>李胜春，1967年出生在湖北安陆城关北河街一个普通的市民家，父亲是个老师，喜欢书法，写字之余，就教胜春涂鸦，有时还布置一些作业，胜春受父亲的影响，慢慢地喜欢上了写字，写大字，用浓黑的墨水，很有感觉。后来写着写着，他不满足于只写些文字，又对国画产生了兴趣。书画同源，也许就是这个道理。李胜春画画，完全是自学，没有拜师。他的技法也好，笔墨也好，构图也好，都是从书本上学来的。他没事就跑书店，没钱买的时候，就站在那里看，看完了就回家。回到家就开始照着他刚看了的书上画。那些东西凭记忆，有时记不起来时，他就展开了艺术的想象，这样反而不受束缚，最后形成了自己独特的风格。</p>

         <p>
            <img src="{{ url_for('static', filename='imgs/lishengchun.jpeg') }}"
                 class="img-responsive text-gap" alt="李胜春"/>
         </p>

         <p>李胜春的最高学历是高中。读完高中那年的暑假，他想当兵，结果视力不好，没验上。想画画，又没钱买书，他的一个同学喊他去做小工，就是在建筑工地打杂，提水泥桶、搬砖，都是重体力活。干了一个星期，他吃不消，就没干了。不过，他赚到了他人生中的第一笔工钱，十几块钱。他有钱后的第一件事就是跑到书店花两块五毛钱买了一本《介子园画谱》。这本《介子园画谱》就是胜春的启蒙老师。</p>

         <p>胜春的家里有两重院子，他父亲喜欢养花草，满院子都是。胜春小时候接触这些东西，自己也很喜欢。他也学着养花草，弄盆景，闲时就照着画。</p>

         <p>1986年，他考到安陆市粮机厂上班，白天上班，晚上就在家里画画，周末闲时就出外挖树桩、买盆景，沉醉于一种艺术境界。</p>

         <p>没有人能理解，一个如此贫穷的工人，会对画画如此沉醉。没有纸，他就到姐家拿回一些旧报纸，反复练，一张报纸画了正面画反面，画了小画再画大画，画了淡的再画浓的，最后完全搞成黑的。宣纸对于画画的人来说，那是再熟悉不过而且必备的。但胜春买不起宣纸，又想过那种瘾，他就用白磅纸打框子，画成画子，挂在家里。感觉就象用宣纸画的一样。胜春的家里从来不买画子和对联，每年过年，都是他自己设计几套吊屏、中堂，他自己画，自己写，挂在家里，跟买的一模一样。</p>

         <p>许多时候，胜春都是自己一个人关起门来搞创作，水平提高很慢。而且也不知道自己究竟在何种档次上。所以经常很迷惘，画画停停。为了提高水平，1992年，胜春报了天津美术学院的一个业余学院函授班学习美术，绘画技艺得到了一些提高。与此同时，安陆画界其实有高手，比如王顺华、徐庆雄、周毅等，胜春有时也看到过他们的作品，内心很欣赏，只是无缘请教切磋。2008年，安陆市水墨漫画院院长王顺华先生在安陆文化馆办起了国画研习班，胜春慕名报名参加，他就象一个在黑暗中摸索的人找到了组织一样，创作激情空前高涨，一度近乎疯狂，他白天上班，晚上每晚画到两点多钟。这样坚持了大半年。在王老师的指点和众画友的互相启发之下，技艺提高很快，突破了长期以来创作上的瓶颈。他的作品也频频登上报刊杂志。国画《紫絮飘香》获得湖北省第二十一届工人画廊书画优秀奖，《好模好样》、《传家之宝》、《三思而行》等多幅作品入选了《安陆水墨画集》和湖北省第十一届美术展览。胜春还被安陆市水墨漫画院聘任为画师，成为孝感市美术家协会会员。</p>

         <p>绘画之余，胜春也喜欢玩石头。他是安陆最早收集赏石的人之一。同道朋友都戏称他是安陆玩石年轻的“鼻祖”。安陆的碧山石具有很高的收藏价值，李胜春在十多年前就一个人背着羊镐，挑上扁担，一瓶水，几个馒头，先搭车，然后徒步在山里转。找到了石头用扁担挑下山再搭车回城。有时发现了好石头，因为太大拿不回来，胜春不知如何是好。最后他就邀了几个有共同兴趣的人，成立了采石队，现在安陆热爱采石的人越来越多，已经有好几十人了。胜春的作品《太白遗靴》获第五届中国赏石暨国际赏石展银奖，第五届湖北省盆景赏石展金奖。</p>

         <p>笔者到胜春家采访时，就好象进入了一个艺术的迷宫，外表朴实憨厚的胜春，却创造了一个艺术的世界，他的画、他的盆景、他的赏石，把一个普通的屋子装点得典雅而高贵，当他捧出一摞获奖证书给我看的时候，我内心真的震撼，在这样一个普通工人面前，我感到了我与他的差距，精神追求上的差距，艺术造诣上的差距，对生活美的发现与创造的差距。我们可以贫穷，但我们不可以没有艺术追求，我们可以安贫若素，但我们不能没有梦想。人生是短暂的，若短暂的人生融入了艺术之林，我们还有什么可遗憾的呢？</p>
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}