{% extends "layout.html" %}

{% block page_title %}李胜春简介{% endblock %}
{% block page_id %}page-about{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h3 class="margin-lg">李胜春简介</h3>

         <p>
            李胜春，号石缘斋主，湖北安陆市人，安陆水墨漫画院专职画家，擅长水墨漫画、人物小品，国画花鸟、牡丹、墨竹，隐居于李白故里白兆山下，喜书画，收藏盆景、奇石，作品多次参加全国画展并被收藏。
         </p>

         <p><img class="img-responsive" src="{{ url_for('static', filename='imgs/lsc.jpg') }}"
                 alt=""/></p>

         <p><img class="img-responsive"
                 src="{{ url_for('static', filename='imgs/IMG20131114083454-1.jpg') }}" alt=""/></p>

         <p><img class="img-responsive" src="{{ url_for('static', filename='imgs/DSC01488.JPG') }}"
                 alt=""/></p>

         <p><img class="img-responsive"
                 src="{{ url_for('static', filename='imgs/IMG20130330113537.jpg') }}" alt=""/></p>

         <p><img class="img-responsive" src="{{ url_for('static', filename='imgs/DSC04572.JPG') }}"
                 alt=""/></p>

         <br/>

         <p>2008年《三思图》入展湖北美协举办的书画联展。</p>

         <p>2009年参加全国水墨漫画理论研讨会，5副作品入选《当代水墨漫画集》。</p>

         <p>2010年作品《紫雪飘香》获湖北省工人画廊优秀奖。</p>

         <p>2011年入选湖北省美术馆水墨漫画展，其中《三思而行》被永久收藏。</p>

         <p>2012年在湖北省《工友》杂志发表作品专版。同年作品参加全国水墨漫画名家邀请展。</p>

         <p>2013年作品入选中国美协举办的第三届中国桐乡廉政漫画大赛。</p>

         <p>2013年作品入选中国漫画艺术之乡三地联展。</p>
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}