@import "fonts";

.works-wap {
  margin-top: 25px;

  .work-item {
    width: 270px;
    margin-bottom: 20px;

    .work-link {
      display: inline-block;
      width: 100%;
    }

    .work-info {
      & > * {
        margin-right: 5px;
      }

      font-size: 15px;

      .work-title {
        color: #000000;
      }

      .created {
        color: #999999;
        font-size: 12px;
        line-height: 1;
      }
    }
  }
}

.link-no-underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}