{% macro render_works(works) %}
   <script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='style/lightbox.css') }}"/>

   <div class="works-wap">
      {% for w in works %}
         <div class="work-item">
            <a href="{{ w.url }}" class="work-link" data-lightbox="work" title="{{ w.title }}">
               <img src="{{ w.url }}" class="work-image img-responsive" alt="{{ w.title }}"/>
            </a>

            <p class="work-info">
               <a class="work-title"
                  href="{{ url_for('work.view', work_id=w.id) }}">{{ w.title }}</a>
               {% if check_admin() %}
                  <a href="{{ url_for('admin.edit_work', work_id=w.id) }}" title="编辑作品"
                     class="link-no-underline">
                     <i class="fa fa-edit"></i>
                  </a>
                  <a href="{{ url_for('admin.delete_work', work_id=w.id) }}" title="删除作品"
                     class="btn-delete-work link-no-underline">
                     <i class="fa fa-trash-o"></i>
                  </a>
               {% endif %}
            </p>
         </div>
      {% endfor %}
   </div>

   <script>
      $(function () {
         $('.btn-delete-work').click(function () {
            return confirm('确认删除吗？');
         });
      });

      $('.works-wap').imagesLoaded(function () {
         $('.works-wap').masonry({
            columnWidth: 313,
            itemSelector: '.work-item'
         });
      });
   </script>
{% endmacro %}